Source: bing-desktop-wallpaper-changer
Section: shells
Priority: optional
Maintainer: ALJI Mohamed <mr.m.alji@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://utkarshgpta.com/bing-desktop-wallpaper-changer/
#Vcs-Git: git://anonscm.debian.org/collab-maint/bing-desktop-wallpaper-changer.git
Vcs-Browser: https://github.com/UtkarshGpta/bing-desktop-wallpaper-changer.git

Package: bing-desktop-wallpaper-changer
Architecture: all
Depends: python-bs4, python-lxml
Description: bing desktop wallpaper changer
 Automatically downloads and changes desktop wallpaper to Bing Photo of the Day.
